/* Retracted */

.ExamplePersistentSheetWithDetent-retractedRoot {
  /* INNER-LAYOUT */
  padding: var(--size-6);

  /* INNER-LAYOUT */
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: var(--size-6);

  /* TEXT */
  color: white;
}

.ExamplePersistentSheetWithDetent-retractedPicture {
  /* SELF-LAYOUT */
  height: 52px;
  width: 52px;

  /* APPEARANCE */
  border-radius: var(--radius-4);
  background-image: var(--blue-illustration-1-gradient);
  background-origin: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.ExamplePersistentSheetWithDetent-retractedTitle {
  /* TEXT */
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-6);
}

.ExamplePersistentSheetWithDetent-retractedSubtitle {
  /* APPEARANCE */
  opacity: 0.85;

  /* TEXT */
  font-size: var(--font-size-2);
}

.ExamplePersistentSheetWithDetent-retractedPlayButton {
  /* SELF-LAYOUT */
  margin-right: var(--size-3);
  width: var(--size-12);
}

/* Expanded */

.ExamplePersistentSheetWithDetent-expandedRoot {
  /* INNER-LAYOUT */
  padding-inline: var(--size-12);
  padding-bottom: calc(env(safe-area-inset-bottom, 0px) + var(--size-14));
  display: grid;
  grid-template-rows: auto 1fr;

  /* TEXT */
  color: white;
}

.ExamplePersistentSheetWithDetent-expandedHandle {
  /* SELF-LAYOUT */
  margin-top: var(--size-4);
  justify-self: center;
  width: 50px;
  height: 6px;

  /* APPEARANCE */
  border: 0;
  border-radius: var(--radius-full);
  background-color: rgba(255, 255, 255, 0.66);
}

.ExamplePersistentSheetWithDetent-expandedDismissTrigger {
  /* SELF-LAYOUT */
  position: absolute;
  top: max(env(safe-area-inset-top, 0px), var(--size-8));
  right: var(--size-8);
}

.ExamplePersistentSheetWithDetent-expandedContent {
  /* INNER-LAYOUT */
  padding-top: var(--size-14);
  display: grid;
  grid-template-rows: 3fr 1fr 0.8fr;
  gap: var(--size-12);
}

.ExamplePersistentSheetWithDetent-expandedPicture {
  /* SELF-LAYOUT */
  place-self: center;
  height: min(80%, 300px);
  width: auto;
  aspect-ratio: 1 / 1;

  /* APPEARANCE */
  box-shadow: 0 10px 35px -5px rgba(18, 79, 115, 0.75),
    0 5px 10px -6px rgba(18, 79, 115, 0.75);
  border-radius: var(--radius-7);
  background-image: var(--blue-illustration-1-gradient);
  background-origin: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.ExamplePersistentSheetWithDetent-expandedCentralContent {
  /* SELF-LAYOUT */
  width: min(100%, 800px);
  justify-self: center;

  /* INNER-LAYOUT */
  display: grid;
  gap: var(--size-10);
}

.ExamplePersistentSheetWithDetent-expandedTextContent {
  /* SELF-LAYOUT */
  align-self: start;

  /* INNER-LAYOUT */
  display: grid;
  gap: var(--size-2);
}

.ExamplePersistentSheetWithDetent-expandedTitle {
  /* TEXT */
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-7);
}

.ExamplePersistentSheetWithDetent-expandedSubtitle {
  /* APPEARANCE */
  opacity: 0.85;

  /* TEXT */
  font-size: var(--font-size-4);
}

.ExamplePersistentSheetWithDetent-expandedRange {
  /* SELF-LAYOUT */
  height: var(--size-3);
  width: 100%;

  /* APPEARANCE */
  -webkit-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.75);
  border-radius: var(--radius-full);

  /* INTERACTIVITY */
  cursor: pointer;
}

.ExamplePersistentSheetWithDetent-expandedRange::-webkit-slider-thumb {
  /* SELF-LAYOUT */
  width: var(--size-10);
  height: var(--size-10);

  /* APPEARANCE */
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  box-shadow: var(--shadow-2);
  border: none; /* Removes extra border that FF applies */
  border-radius: var(--radius-full);
  background-color: white;
}
.ExamplePersistentSheetWithDetent-expandedRange::-moz-range-thumb {
  /* SELF-LAYOUT */
  width: var(--size-10);
  height: var(--size-10);

  /* APPEARANCE */
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  box-shadow: var(--shadow-2);
  border: none; /* Removes extra border that FF applies */
  border-radius: var(--radius-full);
  background-color: white;
}

.ExamplePersistentSheetWithDetent-expandedControls {
  /* SELF-LAYOUT */
  justify-self: center;

  /* INNER-LAYOUT */
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: var(--size-14);
}

.ExamplePersistentSheetWithDetent-expandedPreviousButton {
  /* APPEARANCE */
  opacity: 0.9;

  /* SELF-LAYOUT */
  width: var(--size-15);
}

.ExamplePersistentSheetWithDetent-expandedPlayButton {
  /* SELF-LAYOUT */
  width: 58px;
}

.ExamplePersistentSheetWithDetent-expandedNextButton {
  /* APPEARANCE */
  opacity: 0.9;

  /* SELF-LAYOUT */
  width: 44px;
}
